@font-face {
  font-family: "Megrim", cursive;
  src: url(../../assets/fonts/Megrim/Megrim-Regular.ttf);
}
@font-face {
  font-family: "Baumans", cursive;
  src: url(../../assets/fonts/Baumans/Baumans-Regular.ttf);
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  position: relative;
  font-family: "Baumans", cursive;
  color: #f3f0f0;
  background: url("../../media/background.jpg") no-repeat center/cover;
}
body::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  z-index: 0;
  background: #000000;
  background: linear-gradient(168deg, #000000 0%, transparent 100%);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}
a:visited {
  color: #f3f0f0;
}

/*********************** Header *************************/
.title {
  padding: 5px 0 0 10px;
  z-index: 10;
  position: relative;
}
.title h1 {
  font-family: "Megrim", cursive;
  font-size: 2.8rem;
  font-weight: 100;
  text-transform: uppercase;
  line-height: 0.5;
  margin: 0;
  padding-left: 10px;
  color: #fa9e1e;
  text-shadow: 2px 2px 0 #84c1ff, 4px 4px 0 #ff1808, 4px 4px 6px #fa9e1e;
}

.nav {
  position: absolute;
  top: 4px;
  right: 10px;
  z-index: 100;
}
.nav li {
  display: inline;
  padding: 0 15px;
  border-left: 3px solid #f3f0f0;
}
.nav li:hover {
  border: 2px solid #f3f0f0;
  transition: 0.5s ease-in-out;
}
.nav li:active {
  border: 55px solid #f3f0f0;
}
@media (max-width: 799px) {
  .nav li {
    display: none;
  }
}

.line {
  width: 85%;
  height: 100px;
  border: 1px solid #f3f0f0;
  border-radius: 45%/60px 100px 0 0;
  border-color: #fa9e1e transparent transparent transparent;
  position: absolute;
  top: 80px;
  left: 13%;
}

/*********************** Main *************************/
/*********** Carousel *************/
.carousel {
  width: 20%;
  border-radius: 0px 0px 15px 15px;
  margin: -20px auto 20px auto;
  overflow: hidden;
  box-shadow: 8px 8px 4px -3px rgba(0, 0, 0, 0.7);
}
@media (max-width: 840px) {
  .carousel {
    display: none;
  }
}
.carousel__figure {
  position: relative;
  width: 300%;
  margin: 0;
  padding: 0;
  font-size: 0;
  animation: 15s sliders infinite;
}
.carousel__figure--pic {
  width: 33.33%;
  height: auto;
  float: left;
}

@keyframes sliders {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    right: 2000%;
  }
  75% {
    right: 100%;
  }
  95% {
    right: 100%;
  }
  100% {
    right: 0%;
  }
}
/*********** Pricing *************/
.offers {
  padding-top: 50px;
  display: flex;
  align-items: center;
}

.perspective {
  width: 100%;
  perspective: 800px;
  display: flex;
  justify-content: space-between;
}
.perspective__3d {
  width: 140px;
  height: 200px;
  margin: auto;
  box-shadow: 0 70px 63px -60px #494848;
  transform-style: preserve-3d;
  transition: transform 0.05s linear;
}
.perspective__3d--card {
  background-size: cover;
  height: 100%;
  width: 100%;
  border-radius: 15px;
}
.perspective__3d--card::after {
  background: inherit;
  content: "";
  position: absolute;
  display: block;
  left: -60px;
  top: 40px;
  width: 100%;
  height: 85%;
  z-index: -1;
  filter: blur(55px);
}
.perspective h2 {
  position: absolute;
  top: 0;
  font-size: 1.1rem;
  font-weight: 100;
  transform: translateZ(80px);
  text-transform: uppercase;
}
.perspective span {
  position: absolute;
  bottom: 40px;
  right: -10px;
  font-size: 0.8rem;
  font-weight: 600;
  transform: translateZ(35px);
}

/*********** Button *************/
.button {
  padding-top: 60px;
  position: relative;
  margin: 0 auto;
  width: 320px;
}
.button:hover .button__rect {
  stroke-dasharray: 760;
  stroke-dashoffset: 0;
  stroke-width: 2px;
}
.button__rect {
  stroke: #fa9e1e;
  fill: transparent;
  border-bottom: 5px solid #fa9e1e;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
}
.button__text {
  position: relative;
  text-align: center;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 8px;
  color: #f3f0f0;
  top: -48px;
}

/*********************** Footer *************************/
footer {
  position: absolute;
  bottom: 20px;
  left: 10%;
  right: 10%;
}

.network {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  font-family: "Megrim", cursive;
}
.network a {
  padding: 0 25px;
}
@media (max-width: 840px) {
  .network a {
    padding: 0px 5px;
  }
}
.network a:hover {
  transform: scale(2.5);
  transition: 0.4s ease-in-out;
  text-shadow: 0 0 5px #f3f0f0, 0 0 10px #f3f0f0, 0 0 15px #f3f0f0, 0 0 20px #fa9e1e, 0 0 30px #fa9e1e, 0 0 40px #fa9e1e, 0 0 55px #fa9e1e, 0 0 75px #fa9e1e;
}
.network a:hover:nth-child(5) {
  transform: scale(1.1);
  font-weight: bolder;
}

/*# sourceMappingURL=style.css.map */
